<p id="notice"><%= notice %></p>

<br />
<h1 class="center">Startups</h1>




    <% @startups.each do |startup| %>
      <ul class="none">
        <strong><li><%= startup.name.upcase %></li></strong>
        <li><%= startup.catch_phrase %></li>
        <li><%= startup.website_url %></li><br />
        <li><%= startup.description %></li>
        <li><%= link_to 'Show', startup ,class: "btn btn-outline-secondary"%></li>

        <!-- <li><%= link_to 'Edit', edit_startup_path(startup) %></li>
        <li><%= link_to 'Destroy', startup, method: :delete, data: { confirm: 'Are you sure?' } %></li> -->
      </ul> <br />
    <% end %>


<br />
<div class="center">
    <a class="btn btn-primary" role="button" <%= link_to "<< BACK", :back %></a>
</div>
<%# <%= link_to 'New Startup', new_startup_path %>
