<p id="notice"><%= notice %></p>

<h1>Startups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Catch phrase</th>
      <th>Website url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @startups.each do |startup| %>
      <tr>
        <td><%= startup.name %></td>
        <td><%= startup.catch_phrase %></td>
        <td><%= startup.website_url %></td>
        <td><%= startup.description %></td>
        <td><%= link_to 'Show', startup %></td>
        <% if current_user && current_user.admin? %>
          <td><%= link_to 'Edit', edit_admin_startup_path(startup) %></td>
          <td><%= link_to 'Destroy', startup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user && current_user.admin? %>
  <%= link_to 'New Startup', new_admin_startup_path %> |
  <%= link_to 'Back', :admin_root %>
<% else %>
  <%= link_to 'Back', :root %>
<% end %>
