<p id="notice"><%= notice %></p>

<br />
<h1 class="center">Startups</h1>




    <% @startups.each do |startup| %>




      <ul class="none">
        <strong><li><%= startup.name.upcase %></li></strong>
        <li><%= startup.catch_phrase %></li>
        <li><%= startup.website_url %></li><br />
        <li><%= startup.description %></li>
        <li><%= link_to 'Show', startup_path(startup.id) ,class: "btn btn-outline-secondary"%></li>
        <% if current_user && current_user.admin? %>
          <td><%= link_to 'Edit', edit_admin_startup_path(startup) %></td>
          <td><%= link_to 'Destroy', startup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>


    <% end %>



<% if current_user && current_user.admin? %>
  <%= link_to 'New Startup', new_admin_startup_path %> |
  <%= link_to 'Back', :admin_root %>
<% else %>
  <%= link_to 'Back', :root %>
<% end %>
<br />
<div class="center">
    <a class="btn btn-primary" role="button" <%= link_to "<< BACK", :back %></a>
</div>
<%# <%= link_to 'New Startup', new_startup_path %>
