<p id="notice"><%= notice %></p>

<br />
<br />
<div class="container">
  <h1>
    <strong>Name:</strong>
    <%= @startup.name %>
  </h1>

  <p>
    <strong>Catch phrase:</strong>
    <%= @startup.catch_phrase %>
  </p>

  <p>
    <strong>Website url:</strong>
    <%= @startup.website_url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @startup.description %>
  </p>
</div><br /><br />
<div class="center">
    <a class="btn btn-primary" role="button" <%= link_to "<< BACK", :back %></a>
</div>
