<p id="notice"><%= notice %></p>


<%if @startup.startup_picture.attached?%>
  <%= image_tag @startup.startup_picture, alt: 'startup_picture' %>
<%else%>
  <p>=== Il n'y a pas encore de startup picture lié à cette startup ===</p>
<%end%>

<p>
  <strong>Name:</strong>
  <%= @startup.name %>
</p>

<br />
<br />
<div class="container">
  <h1>


    <%= @startup.name.upcase %>
  </h1>

  <p>
    <strong>Catch phrase: </strong>
    <%= @startup.catch_phrase %>
  </p>

  <p>
    <strong>Website url: </strong>
    <%= @startup.website_url %>
  </p>

<p>
  <strong>Description:</strong>
  <%= @startup.description %>
</p>

<h2>Events of this startup :</h2>

<h3>In the future</h3>
<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @startup_events = @startup.events.order('start_datetime ASC') %>
    <% @startup_events.each do |startup_event| %>
    <% if startup_event.is_future? %>
      <tr>
        <td><%= link_to "#{startup_event.title} &raquo;".html_safe, event_path(startup_event), :class =>'btn btn-primary' %></td>
        <td><%= startup_event.start_datetime %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<h3>In the past</h3>
<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @startup_events = @startup.events.order('start_datetime ASC') %>
    <% @startup_events.each do |startup_event| %>
    <% if startup_event.is_future? == false %>
      <tr>
        <td><%= link_to "#{startup_event.title} &raquo;".html_safe, event_path(startup_event), :class =>'btn btn-primary' %></td>
        <td><%= startup_event.start_datetime %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>







<% if current_user && current_user.admin? %>
<h3>Changer de startup picture ?</h3>
<%= form_tag startup_startups_pictures_path(@startup), multipart: true do %>
  <%= file_field_tag :startup_picture %>
  <%= submit_tag "mettre à jour" %>
<% end %>
  <%= link_to 'Edit', edit_admin_startup_path(@startup) %> |
  <%= link_to 'Back', :startups %>
<% else %>
  <%= link_to 'Back', :startups %>
<% end %>








  <p>
    <strong>Description: </strong>
    <%= @startup.description %>
  </p>
</div><br /><br />
<div class="center">
  <% if current_user && current_user.admin? %>
    <%= link_to 'Edit', edit_admin_startup_path(@startup) %> |
    <%= link_to 'Back', :startups, :class=>"btn btn-primary" %>
  <% else %>
    <%= link_to 'Back', :startups, :class=>"btn btn-primary" %>
  <% end %>
</div>
