<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Start datetime:</strong>
  <%= @event.start_datetime %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Short location:</strong>
  <%= @event.short_location %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @event.adress %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @event.zip_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>Startup:</strong>
  <%= @event.startup.name %>
  <%= link_to 'Startup', startup_path(@event.startup.id) %>
</p>

<h2>Registration for this event :</h2>
<p><%= @event.attendances.count %> registrations</p>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Email</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <h2>Attendances</h2>
  <% for attendance in @event.attendances %>
  <ul>
    <li><%= attendance.motivation %></li>
  </ul>
  <% end %>

  <tbody>
    <% @event.users.each do |event_attendances| %>
      <tr>
        <td><%= event_attendances.first_name %></td>
        <td><%= event_attendances.email %></td>
        <td><%= link_to "Details &raquo;".html_safe, user_path(event_attendances), :class =>'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Add Attendance', event_attendances_path(@event) %> |
<%= link_to 'Back', events_path %>
