  <!-- GOOGLE MAP -->
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false&key=[YOUR_KEY_API]&callback=initMap"></script>
      <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>  
      <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
      <script src='//underscorejs.org/underscore-min.js' type='text/javascript'></script>
    <!-- GOOGLE MAP -->
<div class="jumbo">
<p id="notice"><%= notice %></p>

<div class="container-fluid">


  <div class="jumbotron-fluid Jumbo-Background">
    <div class="container">
          <h1 class="display-4 center"><%= @event.title %></h1>
          <p class="lead">
            <strong>Start datetime:</strong>
            <%= @event.start_datetime %>
          </p>
          <p class="lead">
            <strong>Duration:</strong>
            <%= @event.duration %>
          </p>

          <p class="lead">
            <strong>End date:</strong>
            <%= @event.end_date %>
          </p>

          <p class="lead">
            <strong>Description:</strong>
            <%= @event.description %>
          </p>

          <p class="lead">
            <strong>Short location:</strong>
            <%= @event.short_location %>
          </p>

          <p class="lead">
            <strong>Adress:</strong>
            <%= @event.adress %>
          </p>

          <p class="lead">
            <strong>Zip code:</strong>
            <%= @event.zip_code %>
          </p>

          <p class="lead">
            <strong>City:</strong>
            <%= @event.city %>
          </p>

        <p class="lead">
          <strong>Startup:</strong>
          <%= @event.startup.name %>
          <%= link_to 'Startup', startup_path(@event.startup.id) %>
        </p><br/>


        <h3>Registration for this event :</h3>
        <p><%= @event.attendances.count %> registrations</p><br />

          <h3>Attendances</h3>
          <% for attendance in @event.attendances %>
          <p class="lead">
            <%= attendance.motivation %>
          </p>
          <% end %>

          <br />
            <ul class="list-group list-group-flush">
              <strong>registered</strong>
              <% @event.users.each do |event_attendances| %>

                  <li class="list-group-item">
                    <%= event_attendances.first_name %>
                    <%= event_attendances.email %> &nbsp;
                    <%= link_to "Details &raquo;".html_safe, user_path(event_attendances), :class =>'btn btn-sm btn-primary' %>
                  </li>
              <% end %>
            </ul>


        </div>


  </div>
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Add Attendance', event_attendances_path(@event) %> |
  <%= link_to 'Back', events_path %>
</div>

</div>
<%= render 'google_map_event' %>