<%= render 'banner' %>

<!-- Test Devise : on peut tout supprimer ! -->

<div class="container">

  <h1 class="text-center">- Qui sommes nous ? -</h1>



<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src=<%= asset_path 'cover1.jpg' %> alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src=<%= asset_path 'cover2.jpg' %> alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="container-fluid">
<div id="container1">

  <h1 class="text-center">- Qui sommes nous ? -</h1>



<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src=<%= asset_path 'cover1.jpg' %> alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src=<%= asset_path 'cover2.jpg' %> alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- 
<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      Voici ton email : <%= current_user.email %>
    </li>

    <li>
      <%= link_to "Edit email / password", edit_user_registration_path %>
    </li>

  <% else %>
    <li>    
      <%= link_to "Sign in", new_user_session_path %>
    </li>

    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>

  <% end %>
</ul> -->

</div>