<%= render 'banner' %>

<!-- Test Devise : on peut tout supprimer ! -->

<div class="container">

  <h1 class="text-center">STARTUP IMMERSION ?</h1>



<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src=<%= asset_path 'cover1.jpg' %> alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src=<%= asset_path 'cover2.jpg' %> alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</br>



<div class="container-fluid">
<div id="container1">

  <h1 class="text-center text-white">LES STARTUP PARTENAIRES</h1>



<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src=<%= asset_path 'cover1.jpg' %> alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src=<%= asset_path 'cover2.jpg' %> alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

</br>
<div class="container">

  <h1 class="text-center">STARTUP IMMERSION ?</h1>



<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src=<%= asset_path 'cover1.jpg' %> alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src=<%= asset_path 'cover2.jpg' %> alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</br>

<div class="container-fluid">
<div id="container1">

  <h1 class="text-center text-white">RECHERCHE</h1>



<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <%= render 'layouts/search_bar' %>
</div>
</div>
</div>
</div>
</div>
