<h1>Static#home</h1>
<p>Find me in app/views/static/home.html.erb</p>

<h2>User Story</h2>

<p>Quand un visiteur arrive sur le site il arrive sur une landing page qui lui présente l'entreprise. Un jumbotron est présent pour le diriger vers la liste des évènements</p>

<p><%= link_to "All events &raquo;".html_safe, events_path, :class =>'btn btn-primary' %></p>

<h3>Test Devise : options à ajouter à la NavBar</h3>

<ul>
  <% if user_signed_in? %>

    <li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      Voici ton email : <%= current_user.email %>
    </li>

    <li>
      <% if current_user.admin? %>
        <%= link_to "Admin Dashboard", admin_root_path %>
      <% else %>
        <%= link_to "My Profile", user_path(current_user) %>
      <% end %>
    </li>

  <% else %>
    
    <li>    
      <%= link_to "Sign in", new_user_session_path %>
    </li>

    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>

  <% end %>

</ul>
