<h1>Welcome Administrateur</h1>

<h2>Links</h2>

<%= link_to "My Profile", user_path(current_user) %>

<h3>Users</h3>
<ul>
	<li><%= link_to 'Index Users', admin_users_path %></li>
</ul>

<h3>Activities</h3>
<ul>
	<li><%= link_to 'Index Activities', activities_path %></li>
	<li><%= link_to 'New Activity', new_activity_path %></li>
</ul>

<h3>Situations</h3>
<ul>
	<li><%= link_to 'Index Situations', situations_path %></li>
	<li><%= link_to 'New Situation', new_situation_path %></li>
</ul>

<h3>Startups</h3>
<ul>
	<li><%= link_to 'Index Startups', startups_path %></li>
	<li><%= link_to 'New Startup', new_admin_startup_path %></li>
</ul>

<h3>Events</h3>
<ul>
	<li><%= link_to 'Index Events', events_path %></li>
	<li><%= link_to 'New Event', new_admin_event_path %></li>
</ul>

<h3>Attendances Submissions</h3>
<ul>
	<li><%= link_to "#{Attendance.where(reviewed: false).count} new submissions ! &raquo;".html_safe, admin_attendances_submissions_path %></li>
	<li><%= Attendance.where(reviewed: false).count %> new submissions !</li>
	<li><%= link_to 'Index', admin_attendances_submissions_path %></li>
</ul>

<%= link_to 'Back', :back %> |
<%= link_to 'Home', :root %>
