<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="/">
    <img src=<%= asset_path 'logo_transparent.png' %> width="100" height="100" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"><%= link_to "Les immersions", events_path %><span class="sr-only">(current)</a>
      </li>
          &nbsp; &nbsp; &nbsp;<li class="nav-item active">
        <a class="nav-link"><%= link_to "Contact", events_path %></a>
      </li>
      &nbsp; &nbsp; &nbsp; <li class="nav-item">
      <input class="form-control mr-sm-2" type="text" placeholder="Chercher sur le site...">
    </li>
    <li>
     &nbsp; <button class="btn btn-outline-secondary btn-md mt-2" type="submit">Search</button>
    </li>
    </ul>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Connexion
  </button>

  <% if user_signed_in? %>

   <div class="dropdown-menu">
    <a class="dropdown-item" <%= link_to "Modifier le profil", edit_user_registration_path %></a>
    <a class="dropdown-item" <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></a>
  </div>

  <% else %>

  <div class="dropdown-menu">
    <a class="dropdown-item" <%= link_to "Se connecter", new_user_session_path %></a>
    <a class="dropdown-item" <%= link_to "S'inscrire", new_user_registration_path %></a>
  </div>

<% end %>

  </div>
</nav>